body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.info-section {
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#legend {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #4285f4;
    padding: 10px;
    list-style: none;
    margin: 0;
}

#legend a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
}

#legend a:hover {
    text-decoration: underline;
}

#menu {
    background-color: #4285f4;
    padding: 10px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#menu li {
    margin: 0 10px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    transition: background-color 0.3s;
}

#menu a:hover,
#menu a.selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.info-section ul {
    list-style-type: disc;
    font-size: 1.2em;
    line-height: 1.6;
    margin-left: 20px;
}

.info-section li {
    margin-bottom: 8px;
}

#backToTopBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#backToTopBtn:hover {
    background-color: #357ae8;
}

h3 {
    color: #4285f4;
    margin-top: 20px;
}

.indented-div {
    margin-left: 30px;
}

.checklist-style li {
    margin-bottom: 10px;
    list-style-type: decimal;
}